body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Cabecera */
nav {
  background: linear-gradient(to bottom, #971325, #5e2129); 
  color: white;
  text-align: center;
  padding: 20px ;
}

nav h1 {
  font-family: none;
  margin: 0;
  font-size: 28px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Tabla */
table {
  margin: 30px auto;
  border-collapse: collapse;
  width: 60%;
}

th, td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #ca7d00ca;
  color: white;
}

/* Footer */
footer {
  background-color: #5e2129 ;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}
main{
  text-align: center;
}
html{
  background-color: #f2ede4;
}

.principal{
  width: 60%;
  margin: 30px auto;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px ;
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
}

.principal h2{
  color: white;
  background-color: #5e2129;
  padding: 10px; 
  border-radius: 20px ;
  box-sizing: border-box; 
  width: 100%;  
  text-align: center;                    
}

.principal p{
  color: #474747;                            
  line-height: 1.6;
  text-align: center;
}
.principal ul{
  text-align: center;
}

.secundario{
  width: 180px;
  margin: 30px auto;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px ;
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
}

.contenedor-art{
  display: flex;
  justify-content: space-around;
  gap: 30px;
  padding: 20px;
  margin: 0 auto;
  background: linear-gradient(to bottom, #f2ede4, #ffd78c);
}

form{
  width: 60%;
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  background: linear-gradient(to bottom, #2b96bd, #8ebac7);
  border-radius: 60px;
  border-color: #0f3e4e;
  border-style: solid;
  border-width: 3px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
}