body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Cabecera */
nav {
  background: linear-gradient(to bottom, #971325, #5e2129); 
  color: white;
  text-align: center;
  padding: 20px ;
}

nav h1 {
  font-family: none;
  margin: 0;
  font-size: 28px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;

}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: #ffd700;
  transition: width 0.3s;
  margin: auto;
}

/* Tabla */
table {
  margin: 30px auto;
  border-collapse: collapse;
  width: 60%;
}

th, td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #ca7d00ca;
  color: white;
}

tr:nth-child(even) {
  background-color: #c58935c2;
}

tr:nth-child(odd) {
  background-color: #ffdc41d2;
}

tr:hover {
  background-color: #ff7d41;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #5e2129 ;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}
main{
  text-align: center;
}
html{
  background-color: #f2ede4;
}

.principal{
  width: 60%;
  margin: 30px auto;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px ;
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
}

.principal h2{
  color: white;
  background-color: #5e2129;
  padding: 10px; 
  border-radius: 20px ;
  box-sizing: border-box; 
  width: 100%;  
  text-align: center;                    
}

.principal h2::before {
  content: " ° ";
}

.principal p{
  color: #474747;                            
  line-height: 1.6;
  text-align: center;
}
.principal ul{
  text-align: center;
}

.principal ul li {
  list-style: none;
  padding-left: 10px;
}

.principal ul li::before {
  content: "→ ";
  color: #5e2129;
  font-weight: bold;
}

.secundario{
  width: 180px;
  margin: 30px auto;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px ;
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
}

.secundario:hover {
  background-color: #fff1c7;
}

.contenedor-art{
  display: flex;
  justify-content: space-around;
  gap: 30px;
  padding: 20px;
  margin: 0 auto;
  background: linear-gradient(to bottom, #f2ede4, #ffd78c);
}

.contenedor-art > article {
  flex: 1;
  margin: 10px;
}


form{
  width: 60%;
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  background: linear-gradient(to bottom, #87b6c7, #ffffff);
  border-radius: 60px;
  border-color: #0f3e4e;
  border-style: solid;
  border-width: 3px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
}

input:focus, textarea:focus {
  outline: none;
  border: 2px solid #5e2129;
  background-color: #fffef3;
}